@import "fonts"
@import "sanitize"
@import "helpers"
@import "slick"

// Grid of 12 90px columns with 16px gutter
$cols = 12
$col = 90px
$gutter = 16px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  box-sizing: content-box
for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

.percent-col
  float: left
  box-sizing: content-box
$pcols = 10
for pcol in 1..$pcols
  .into-{pcol}
    width: ( 100% / pcol )

// VARIABLES

$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)
$margin-tiny = ($gutter/2)

$font-size-basic = 16px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$font-size-heading = 40px
$font-size-subheading = 30px
$font-size-caption = 13px

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)

$color-gray = gray

$fast-animation-speed = 0.1s
$basic-animation-speed = 0.3s
$loading-animation-speed = 1.3s

// TYPOGRAPHY

body
  font-family: 'ac_pro', serif
  font-style: normal
  font-weight: normal
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic
  text-rendering: geometricPrecision
  -webkit-font-smoothing: subpixel-antialiased

h1
  font-size: $font-size-heading

h2, h3
  font-size: $font-size-subheading

h4
  font-size: $font-size-basic

h5, h6
  font-size: $font-size-caption

h1,h2,h3,h4,h5,h6,p
  line-height: $font-leading-basic
  font-weight: normal !important

p
  margin-bottom: 1em

em, i, .font-italic
  font-style: italic
  font-weight: normal

strong, b, .font-bold
  font-weight: bold
  font-style: normal

.font-gray
  color: $color-gray

.font-caption
  font-size: $font-size-caption
  line-height: $font-leading-basic

// LINKS

a, a:active, a:visited
  color:inherit
  &:hover
    color: $color-gray

.grid-link:hover
  color: $color-black-soft


// BASIC

html, body
  height: 100%

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

.js-grid-img
  opacity: 0
  transition: opacity $basic-animation-speed
  &.img-loaded
    opacity: 1

.u-alert
  text-align: center

// LOADER

#loader
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -9
  transition: opacity $fast-animation-speed
  opacity: 0

.loader-dot
  vertical-align: baseline

@keyframes loader1
  0%
    opacity: 0
  33%
    opacity: 1
  66%
    opacity: 1
  100%
    opacity: 1

#loader-1
  animation: loader1 $loading-animation-speed infinite
  transition: opacity $fast-animation-speed

@keyframes loader2
  0%
    opacity: 0
  33%
    opacity: 0
  66%
    opacity: 1
  100%
    opacity: 1

#loader-2
  animation: loader2 $loading-animation-speed infinite
  transition: opacity $fast-animation-speed

@keyframes loader3
  0%
    opacity: 0
  33%
    opacity: 0
  66%
    opacity: 0
  100%
    opacity: 1

#loader-3
  animation: loader3 $loading-animation-speed infinite
  transition: opacity $fast-animation-speed


// HEADER

#header
  padding-top: $margin-small
  margin-bottom: $margin-large

#menu
  li
    display: inline-block
    margin-left: 0.2em


// HOME

#spread-container
  position: relative

.home-spread
  position: absolute
  width: 100%
  height: 100%
  display: none

.home-spread-active
  display: block

.spread-image-wrapper
  position: absolute
  height: 80%

.spread-image
  position: relative
  max-height: 90%

.spread-image-caption
  display: block
  padding-top: 0.5em
  padding-left: $margin-tiny

// SEARCH

#search-header, #tags-header
  margin-top: $margin-small

#search-input
  border-bottom: 1px dotted $color-black-soft
  outline: none
  max-width: 300px
  margin-top: -10px
  margin-left: $margin-tiny
  vertical-align: baseline

::-webkit-input-placeholder
  line-height: normal
  font-weight: normal

::-moz-placeholder
  line-height: normal
  font-weight: normal

:-ms-input-placeholder
  line-height: normal
  font-weight: normal

input:-moz-placeholder
  line-height: normal
  font-weight: normal

#tags
  li
    display: inline-block
    margin-left: 0.5em


// INDEX/ARCHIVE

#main-content
  padding: 0 1px


.grid-hover
  box-sizing: border-box
  padding: 1px
  img
    transition: opacity $basic-animation-speed
  &:hover
    img
      opacity: 0.3
    .grid-hover-holder
      opacity: 1

.grid-hover-holder
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  box-sizing: border-box
  padding: $margin-small
  text-align: center
  opacity: 0
  transition: opacity $basic-animation-speed
  h2
    font-size: $font-size-basic
    font-weight: normal


// LIST INDEX

#list-of-posts
  column-count: 3
  column-gap: $gutter
  padding: 0 ($gutter / 2)
  box-sizing: border-box
  article
    -webkit-column-break-inside: avoid
    page-break-inside: avoid
    break-inside: avoid-column

.list-project
  margin-bottom: $margin-tiny

.list-fig
  display: inline-block
  margin-right: $margin-small
  width: $margin-basic + $margin-tiny

.list-title
  display: inline-block

.list-series-count
  margin-left: $margin-basic + $margin-small + $margin-tiny
  color: $color-gray


// SINGLE

.viewer
  position: relative

  // SLIDER

.single-nav
  position: absolute
  z-index: 99999
  svg
    width: $font-size-basic

#single-close
  top: $margin-small
  right: $margin-small

#single-next
  top: 49%
  right: $margin-small

#single-prev
  top: 49%
  left: $margin-small

#single-slider
  position: relative
  opacity: 0
  transition: opacity $basic-animation-speed

.js-slick-container, .slick-list, .slick-track
  height: 100%

.slick-slide
  background: $color-white-soft
  box-sizing: border-box
  padding: 0 ($margin-basic + $margin-small)
  .u-held
    opacity: 0
    transition: opacity $basic-animation-speed

.slider-img
  margin: 0 auto

.single-slider-text
  text-align: center
  padding: 1em 0
  display: block
  width: 100%
  position: absolute
  bottom: 0
  left: 0

.caption-main
  margin: 0 $margin-tiny
  vertical-align: baseline

// PAGE

#page-main-copy
  p
    text-indent: ( $col + $gutter )

// MEDIA QUERIES

// @media screen and (min-width: 1920px)
//
//   #list-of-posts
//     column-count: 3

@media screen and (max-width: ($col * $cols)+($gutter * $cols))

  $col = 78px
  $gutter = 14px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
    box-sizing: content-box
  for col in 1..$cols
    .col{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)
  $margin-tiny = ($gutter/2)

  // RELATIVE RESIZES

  #header
    padding-top: $margin-small
    margin-bottom: $margin-large

  .slick-slide
    padding: 0 ($margin-basic + $margin-small)

  #single-close
    top: $margin-small
    right: $margin-small

  #page-main-copy
    p
      text-indent: ( $col + $gutter )

  // LIST OF POSTS

  #list-of-posts
    column-count: 2

@media screen and (max-width: 1104px)

  $col = 64px
  $gutter = 12px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
    box-sizing: content-box
  for col in 1..$cols
    .col{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)
  $margin-tiny = ($gutter/2)

  // RELATIVE RESIZES

  #header
    padding-top: $margin-small
    margin-bottom: $margin-large

  .slick-slide
    padding: 0 ($margin-basic + $margin-small)

  #single-close
    top: $margin-small
    right: $margin-small

  #page-main-copy
    p
      text-indent: ( $col + $gutter )

  // PAGES

  #page
    .col
      float: none
      width: 100%
      max-width: ( 8 * $col ) + ( 7 * $gutter )

  #page-extra-copy
    margin-left: ( $col + $gutter )


@media screen and (max-width: 912px)

  $col = 47px
  $gutter = 12px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
    box-sizing: content-box
  for col in 1..$cols
    .col{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)
  $margin-tiny = ($gutter/2)

  .into-5
    width: ( 100% / 3 )

  // RELATIVE RESIZES

  #header
    padding-top: $margin-small
    margin-bottom: $margin-large

  .slick-slide
    padding: 0 ($margin-basic + $margin-small)

   #single-close
    top: $margin-small
    right: $margin-small

  #page-main-copy
    p
      text-indent: ( $col + $gutter )

  #page-extra-copy
    margin-left: ( $col + $gutter )

@media screen and (max-width: 708px)

  $col = 19px
  $gutter = 10px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
    box-sizing: content-box
  for col in 1..$cols
    .col{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)
  $margin-tiny = ($gutter/2)

  // RELATIVE RESIZES

  #header
    padding-top: $margin-small
    margin-bottom: $margin-large

  .slick-slide
    padding: 0 ($margin-basic + $margin-small)

  #single-close
    top: $margin-small
    right: $margin-small

  #page-main-copy
    p
      text-indent: ( $col + $gutter )

  #page-extra-copy
    margin-left: ( $col + $gutter )

  // MAIN

  #menu-col
    width: ( 7 * $col ) + ( 6 * $gutter )

  // HOME

  .spread-image-wrapper
    max-width: 40%

  // LIST OF POSTS

  #list-of-posts
    column-count: 1

@media screen and (max-width: 600px)

  // HOME

  .spread-image-wrapper
    text-align: center
    position: initial
    max-width: 90% !important
    margin: 0 auto

@media screen and (max-width: 348px)

  $col = 16px
  $gutter = 8px
  .container
    margin: 0 auto
    width: ($col * $cols)+($gutter * $cols)
  .row
    clear: both
  .col
    float: left
    margin-left: ($gutter/2)
    margin-right: ($gutter/2)
    box-sizing: content-box
  for col in 1..$cols
    .col{col}
      width: ( col * $col ) + ( ( col - 1 ) * $gutter )

  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)
  $margin-tiny = ($gutter/2)

  // RELATIVE RESIZES

  #header
    padding-top: $margin-small
    margin-bottom: $margin-large

  .slick-slide
    padding: 0 ($margin-basic + $margin-small)

  #single-close
    top: $margin-small
    right: $margin-small

  #page-main-copy
    p
      text-indent: ( $col + $gutter )

  #page-extra-copy
    margin-left: ( $col + $gutter )

  // MAIN

  #menu-col
    width: ( 7 * $col ) + ( 6 * $gutter )
